/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/update
/.env
/public/moodle/config.php
/vendor
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/tmp/*
/storage/import_files/*
/moodle
_ide_helper.*
